@charset "utf-8";

// fonts
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Fahkwang');
@import url('https://fonts.googleapis.com/css?family=Mukta');

// colors
$accent: #FF6969;
$dark-base: rgb(44, 40, 43);
$darker: rgba(0, 0, 0, 0.1);
$font-color: #fff;

// global variables
$family-sans-serif: "Rubik", sans-serif;
$grey-dark: $font-color;
$grey-darker: $font-color;
$primary: $accent;
$link: $accent;
$white-bis: $darker;
$background: $darker;
$success: #20d86d;

// component variables
$body-background-color: $dark-base;

// footer
$footer-padding: 3rem 1.5rem 3rem;

// navbar
$navbar-background-color: $dark-base;
$navbar-height: 4rem;

@import "../assets/libraries/bulma-0.7.2/bulma.sass";

// CSS

body {
    min-height: 100vh;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: $accent !important;
}

.members a {
    font-size: 1.4rem;
}

.is-tiny {
    font-size: 0.6rem;
}

#winrate {
    margin: 1rem;
}

// members

#prekek {
    font-family: 'Questrial', sans-serif;
}

#ok2094 {
    font-family: 'Fahkwang', sans-serif;
}

#baaaka {
    font-family: 'Titillium Web', sans-serif;
}

#flict {
    font-family: 'Mukta', sans-serif;
}