@charset "utf-8";

// fonts
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Fahkwang');
@import url('https://fonts.googleapis.com/css?family=Mukta');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Anton');

// colors
$accent: #FF6969;
$dark-base: rgb(25, 25, 25);
$darker: rgba(0, 0, 0, 0.3);
$font-color: rgb(230, 230, 230);

// global variables
$family-sans-serif: "Rubik", sans-serif;
$grey-dark: $font-color;
$grey-darker: $font-color;
$primary: $accent;
$link: $accent;
$white-bis: $darker;
$background: $darker;
$success: #20d86d;

// component variables
$body-background-color: $dark-base;
$card-background-color: rgba(0, 0, 0, 0);

// footer
$footer-padding: 3rem 1.5rem 3rem;

// navbar
$navbar-background-color: $dark-base;
$navbar-height: 4rem;

// import bulma
@import "../lib/bulma-0.7.2/bulma.sass";

// CSS

body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: $accent !important;
}

.members a {
    font-size: 1.4rem;
}

.card {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.is-tiny {
    font-size: 0.6rem;
}

.tournament-button {
    position: absolute;
    top: 13%;
    left: 58%;
    transform: rotate(-20deg);
    z-index: 9999;
}

#winrate {
    margin: 1rem;
}

#sitzplan {
    width: 600px;
}

// .notification {
//     -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
//     -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
//     box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
// }

// members

#prekek {
    font-family: 'Questrial', sans-serif;
}

#ok2094 {
    font-family: 'Fahkwang', sans-serif;
}

#baaaka {
    font-family: 'Titillium Web', sans-serif;
}

#flict {
    font-family: 'Mukta', sans-serif;
}

#buiii {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

#schriini {
    font-family: 'Anton', sans-serif;
    font-size: 1.2rem;
}